<div id="form-contact-working" class="d-none text-center">
  <h4 class="mt-5 mb-5"><i class="fa fa-envelope"></i></h4>
  <h4 class="mb-5">Enviando...</h4>
</div>

<div id="form-contact-error" class="d-none">
  <h4 class="mt-5 mb-5 text-danger"><i class="fa fa-bug fa-2x"></i></h4>
  <h4 class="mb-5 text-danger">
    Ocurrio un error enviando el correo, por favor envie el email desde su
    cliente de correo
  </h4>
</div>

<div id="form-contact-thanks" class="d-none">
  <div class="container">
    <div class="row alert" role="alert">
      <div class="col-md-2">
        <h4><i class="far fa-check-square fa-2x"></i></h4>
      </div>
      <div class="col-md-10">
        <h5>Gracias por contactarse con nosotros.</h5>
        <h6 class="text-muted">A la brevedad nos comunicaremos con Ud.</h6>
        <em></em>
      </div>
    </div>
  </div>
</div>
