{% extends 'proamb/base.html' %} {% block content %}
<!-- granos0 -->
<section id="granos0">
  <div class="banner-granos position-relative">
    <div
      class="
        container
        position-absolute
        top-50
        start-50
        translate-middle
        text-center
      "
    >
      <h1 class="mb-5">
        Controlamos plagas
        <br />
        <strong>en tus granos almacenados</strong>
      </h1>
      <a href="#footer" class="btn-custom">CONTACTANOS</a>
    </div>
  </div>
</section>

<main>
  <!-- granos1 -->
  <section id="granos1">
    <div class="container py-6">
      <div class="row">
        <div class="col-12 col-lg-8">
          <p class="fs-5">
            Contamos con infraestructura idónea y perseguimos las innovaciones
            en calidad y en equipamiento.
            <br />
            <strong>
              Visita y cotización sin cargo. Resultados garantizados.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- granos2 -->
  <section id="granos2">
    <div class="container py-6">
      <div class="row">
        <!-- cards -->
        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Carcomas</h3>
                  <p class="card-text">
                    La carcoma dentada es la plaga de cereales más importante y
                    provoca grandes problemas a la industria alimentaria.
                    almacenes de cereales por su rápida y enorme capacidad de
                    multiplicación en masa. Este coleóptero es muy temido en
                    depósitos de cereales por su rápida y enorme capacidad de
                    multiplicación en masa.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-carcomas.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Roedores</h3>
                  <p class="card-text">
                    Atacan alimentos en campos, granjas, huertos e instalaciones
                    pecuarias, en su procesamiento y almacenamiento. Se
                    encuentran en hogares y todo tipo de edificios. Lo que las
                    ratas y ratones no comen, lo desperdician contaminándolo con
                    su orina, heces o pelos.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-roedores.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Taladrillos</h3>
                  <p class="card-text">
                    Es uno de los más pequeños cascarudos que atacan al cereal
                    almacenado y se distingue fácilmente de los demás parásitos
                    de los granos por su forma cilíndrica alargada y su pequeño
                    tamaño.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-taladrillos.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Gorgojos</h3>
                  <p class="card-text">
                    Son abundantes en zonas cálidas, donde se reproducen
                    continuamente, y en poco tiempo destruyen todos los granos
                    que no estén adecuadamente protegidos. La mayor parte del
                    daño debe atribuirse a los gorgojos del trigo y del arroz.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-gorgojos.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Ácaros</h3>
                  <p class="card-text">
                    Los ácaros,pueden infestar gran cantidad de materiales tipo
                    cereales, queso, jamón, frutos secos, etc. Se alimentan de
                    plantas, líquenes y microorganismos. Los ácaros del polvo,
                    se hallan en los entornos domésticos, en colchones, mantas,
                    almohadas, sábanas y sofás.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/fotos-acaros.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Polillas</h3>
                  <p class="card-text">
                    Insectos muy pequeños, que producen daños cuando las larvas
                    se alimentan de artículos que contienen lana, pelo, plumas,
                    harina, frutas secas, harinas, granos,etc. Las más comunes
                    son Polilla de la ropa, Palomita de los cereales, Polilla de
                    la fruta y Polilla de la harina.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/fotos-polillas.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </section>

  <!-- granos3 -->
  <section id="granos3">
    <div class="container py-6">
      {% load static %}
      <div class="position-relative">
        <img
          src="{% static 'proamb/images/icono-estrella-proamb.png' %}"
          alt=""
          class="icono-estrella img-fluid position-absolute"
        />
        <div class="ms-5">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h3>
                Un mayor asesoramiento y la mejor opción de éxito en el
                tratamiento que requiera, PROAMB S.R.L. se lo garantiza.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
