{% extends 'proamb/base.html' %} {% block content %}
<!-- jardin0 -->
<section id="jardin0">
  <div class="banner-jardin position-relative">
    <div
      class="
        container
        position-absolute
        top-50
        start-50
        translate-middle
        text-center
      "
    >
      <h1 class="mb-5">
        Controlamos plagas
        <br />
        <strong>en tu jardín</strong>
      </h1>
      <a href="#footer" class="btn-custom">CONTACTANOS</a>
    </div>
  </div>
</section>

<main>
  <!-- jardin1 -->
  <section id="jardin1">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-lg-8">
          <p>
            Contamos con infraestructura idónea y perseguimos las innovaciones
            en calidad y en equipamiento.
            <br />
            <strong>
              Visita y cotización sin cargo. Resultados garantizados.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- jardin2 -->
  <section id="jardin2">
    <div class="container py-5">
      <div class="row">
        <!-- cards -->
        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Hormigas</h3>
                  <p class="card-text">
                    Variadas son las especies que comparten nuestro hábitat: LAS
                    NEGRAS, que invaden los jardines, las que anidan debajo de
                    las casas, LAS CARPINTERAS que se instalan en nuestros
                    techos y LAS COLORADITAS que habitan dentro de la casa
                    causando cada una sus inconvenientes.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-hormigas.jpg' %}"
                  alt="hormiga"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Grillo topo</h3>
                  <p class="card-text">
                    Los grillos topos son insectos masticadores que construyen
                    galerías subterráneas, con sus desarrolladas patas
                    anteriores, plantas, llegando a ser una verdadera plaga
                    desde donde atacan los tubérculos y de todo tipo de plantas
                    y raíces del césped.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-grillotopo.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Moscas</h3>
                  <p class="card-text">
                    Diseminan gérmenes degradadores de alimentos. Ensucian y
                    deterioran estructuras y materiales. Las de mayor
                    importancia son la mosca doméstica, moscas metálicas, moscas
                    de letrinas, moscas de la carne, moscas de los caballo,
                    moscas de la fruta, moscas de los cuernos.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/fotos-moscas.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Mosquitos</h3>
                  <p class="card-text">
                    Insectos que causan la malaria, la fiebre amarilla, dengue y
                    filariasis. Prefieren distintos tipos de agua, piletas de
                    agua, agujeros inundados en árboles o contenedores de agua
                    artificiales. Existen 3 géneros son de interés
                    epidemiológico Aedes, Culex y Anopheles.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-mosquitos.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Escorpiones</h3>
                  <p class="card-text">
                    De hábito nocturno en lugares oscuros y húmedos. Localizan a
                    sus presas sin verlas por las vibraciones que producen al
                    acercarse. Todas las especies poseen veneno, pero son pocas
                    las ocasiones en que pueden provocar accidentes graves en
                    seres humanos.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/fotos-escorpiones.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Roedores</h3>
                  <p class="card-text">
                    Atacan alimentos en campos, granjas, huertos e instalaciones
                    pecuarias, en su procesamiento y almacenamiento. Se
                    encuentran en hogares y todo tipo de edificios. Lo que las
                    ratas y ratones no comen, lo desperdician contaminándolo con
                    su orina, heces o pelos.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-roedores.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Pulgas</h3>
                  <p class="card-text">
                    Insectos parásitos de amplia distribución, sus picaduras
                    causan irritación al hombre y a muchos animales. Pueden
                    vivir varios meses sin alimentos. Son vectores importantes
                    en la transmisión de la bacteria que produce la peste
                    bubónica.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-pulgas.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Garrapatas</h3>
                  <p class="card-text">
                    Atacan a animales silvestres y domésticos, ocasionalmente al
                    hombre. Se adhieren al huésped y se alimentan de su sangre,
                    causando irritación, molestia y pérdida del vigor. Algunas
                    son vectores de microorganismos que producen enfermedades
                    temibles.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-garrapata.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Jejenes</h3>
                  <p class="card-text">
                    Provocan disminución de la producción ganadera, agrícola.
                    Además, pueden producir reacciones alérgicas e infecciones
                    secundarias severas.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-jejenes.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Abejas carpinteras</h3>
                  <p class="card-text">
                    Excavan largos túneles en la madera. Anidan en tejas, techos
                    de terrazas, aberturas, postes de teléfonos, cercas y hasta
                    en los muebles. Una misma madera puede ser colonizada por
                    varios individuos causando un daño importante.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-abejacarpintera.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <!--  -->
      </div>
    </div>
  </section>

  <!-- jardin3 -->
  <section id="jardin3">
    <div class="container py-5">
      {% load static %}
      <div class="position-relative">
        <img
          src="{% static 'proamb/images/icono-estrella-proamb.png' %}"
          alt=""
          class="icono-estrella img-fluid position-absolute"
        />
        <div class="ms-5">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h3>
                Un mayor asesoramiento y la mejor opción de éxito en el
                tratamiento que requiera, PROAMB S.R.L. se lo garantiza.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
