{% extends 'proamb/base.html' %} {% block content %}
<!-- maderas0 -->
<section id="maderas0">
  <div class="banner-maderas position-relative">
    <div
      class="
        container
        position-absolute
        top-50
        start-50
        translate-middle
        text-center
      "
    >
      <h1 class="mb-5">
        Controlamos plagas
        <br />
        <strong>en maderas</strong>
      </h1>
      <a href="#footer" class="btn-custom">CONTACTANOS</a>
    </div>
  </div>
</section>

<main>
  <!-- maderas1 -->
  <section id="maderas1">
    <div class="container py-6">
      <div class="row">
        <div class="col-12 col-lg-8">
          <p>
            Contamos con infraestructura idónea y perseguimos las innovaciones
            en calidad y en equipamiento.
            <br />
            <strong>
              Visita y cotización sin cargo. Resultados garantizados.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- maderas2 -->
  <section id="maderas2">
    <div class="container py-6">
      <div class="row">
        <!-- cards -->
        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Hormiga carpintera</h3>
                  <p class="card-text">
                    Las hormigas carpinteras provocan daños tanto a nivel
                    domiciliario como agrícola, ya que deterioran las
                    estructuras de madera y árboles, no alimentándose de la
                    madera ya que no son xilófagas, sino que la trabajan a los
                    efectos de anidar.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-hormigacarpintera.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Bicho taladro</h3>
                  <p class="card-text">
                    Los adultos emergen de la madera donde anidan y depositan
                    sus huevos en grietas en maderas cercanas colonizando
                    amplias zonas.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-bichotaladro.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Carcoma</h3>
                  <p class="card-text">
                    Estos insectos deterioran las maderas secas de todo tipo,
                    produciendo galerías y túneles en el interior de las mismas,
                    presentando orificios con aspectos de agujero de bala.
                    Además afectan, pisos, zócalos, tirantes, puertas, marcos y
                    techos de madera.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-carcomas-madera.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Abejas carpintera</h3>
                  <p class="card-text">
                    Excavan largos túneles en la madera. Anidan en tejas, techos
                    de terrazas, aberturas, postes de teléfonos, cercas y hasta
                    en los muebles. Una misma madera puede ser colonizada por
                    varios individuos causando un daño importante.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-abejacarpintera.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 mb-3 d-flex align-items-strech">
          <div class="card shadow py-5">
            <div class="row justify-content-center align-items-center">
              <div class="col-lg-6">
                <div class="card-body">
                  <h3 class="card-title fw-bold">Termitas</h3>
                  <p class="card-text">
                    Forman colonias y se alimentan de madera destruyendo todo a
                    su paso. Son capaces de degradar la celulosa contenida en la
                    madera para hacerla digestible. Las termitas subterráneas
                    construyen su nido bajo tierra y las termitas de madera seca
                    tienen su nido en la misma madera.
                  </p>
                </div>
              </div>
              {% load static %}
              <div
                class="col-4 col-lg-4 d-flex justify-content-center img-bichos"
              >
                <img
                  src="{% static 'proamb/images/fotos-insectos/foto-termitas.jpg' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- maderas3 -->
  <section id="maderas3">
    <div class="container py-6">
      {% load static %}
      <div class="position-relative">
        <img
          src="{% static 'proamb/images/icono-estrella-proamb.png' %}"
          alt=""
          class="icono-estrella img-fluid position-absolute"
        />
        <div class="ms-5">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h3>
                Un mayor asesoramiento y la mejor opción de éxito en el
                tratamiento que requiera, PROAMB S.R.L. se lo garantiza.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
