{% extends 'proamb/base.html' %} {% block content %}
<!-- tanques0 -->
<section id="tanques0">
  <div class="banner-tanques position-relative">
    <div
      class="
        container
        position-absolute
        top-50
        start-50
        translate-middle
        text-center
      "
    >
      <h1 class="mb-5">
        Limpieza y desinfección
        <br />
        <strong>de tanques de agua</strong>
      </h1>
      <a href="#footer" class="btn-custom">CONTACTANOS</a>
    </div>
  </div>
</section>

<main>
  <!-- tanques1 -->
  <section id="tanques1">
    <div class="container-fluid py-6">
      <div class="container">
        <p>
          Es virtualmente imposible obtener una fuente de agua que sea
          absolutamente pura en todo momento, y pueda beberse sin riesgo. La
          retención del agua en depósitos durante periodos prolongados tiene una
          pronunciada acción bactericida, por lo que, el tratamiento habitual
          del agua debe incluir una limpieza profunda en los lugares donde se
          deposita y un proceso de desinfección como medida final para asegurar
          su salubridad.
        </p>
      </div>
    </div>
  </section>

  <!-- tanques2 -->
  <section id="tanques2">
    <div class="container py-6">
      <div class="row">
        <div class="col-lg-8">
          <!--  -->
          {% load static %}
          <div class="position-relative">
            <img src="{% static "proamb/images/icono-estrella-proamb.png" %}"
            alt="" class="icono-estrella img-fluid position-absolute" />
            <div class="ms-5">
              <h3>Limpieza</h3>
              <div>
                <p>
                  Este servicio PROAMB S.R.L. lo realiza de la siguiente manera;
                </p>
                <p>
                  Primeramente se produce el vaciado de los tanques con
                  Electrobombas sumergibles con capacidad para desalojar 15.000
                  lts. de líquido por hora.
                </p>
                <p>
                  La limpieza se realiza mediante cepillado y con hidrolavadoras
                  de alta presión , esto nos permite eliminar los elementos
                  contaminantes localizados en los poros más profundos de las
                  paredes del tanque aplicando una presión de agua constante en
                  abanico plano, lo que da como resultado una limpieza profunda
                </p>
                <p>
                  Para retirar la suciedad residual desprendida de las paredes
                  del tanque, contamos con Hidroaspiradoras industriales, que
                  nos permiten realizar una limpieza perfecta sin que queden
                  vestigios de elementos extraños ( arenillas, pelusas de
                  algodón, etc.) que podrían producir tapaduras posteriormente
                  en calefones, termotanques o llaves de paso de agua.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
        {% load static %}
        <div class="col-lg-4 d-flex justify-content-center">
          <img src="{% static "proamb/images/foto-tanques-1.jpg" %}" alt=""
          class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <!-- tanques3 -->
  <section id="tanques3">
    <div class="container py-6">
      <div class="row">
        <div class="col-lg-8">
          <!--  -->
          {% load static %}
          <div class="position-relative">
            <img src="{% static "proamb/images/icono-estrella-proamb.png" %}"
            alt="" class="icono-estrella img-fluid position-absolute" />
            <div class="ms-5">
              <h3>Desinfección</h3>
              <div>
                <p>
                  Posteriormente de las tareas de limpieza se desinfectarán los
                  tanques, aplicando una solución a base de Hipoclorito de Sodio
                  y agua en toda su superficie y dejando actuar el agua con
                  cloro durante un período determinado. Se elimina completamente
                  el agua clorada haciéndola salir por todas las canillas de la
                  red interna del lugar, de manera que se efectúe la
                  desinfección de las mismas.
                </p>
                <p>
                  Se agrega al tanque agua de red, y se deja escurrir por la
                  instalación interna para su enjuague.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
        {% load static %}
        <div class="col-lg-4 d-flex justify-content-center">
          <img src="{% static "proamb/images/foto-tanques-2.jpg" %}" alt=""
          class="img-fluid"/>
        </div>
      </div>
    </div>
  </section>

  <!-- tanques4 -->
  <section id="tanques4">
    <div class="container py-6">
      <div class="row">
        <div class="col-sm-8">
          <!--  -->
          {% load static %}
          <div class="position-relative">
            <img src="{% static "proamb/images/icono-estrella-proamb.png" %}"
            alt="" class="icono-estrella img-fluid position-absolute" />
            <div class="ms-5">
              <h3>Análisis microbiológico y químico</h3>
              <div class="fs-5">
                <p>
                  Luego de pasadas 48 hs. de realizado el servicio se tomarán
                  muestras de agua del circuito, procediendo a efectuar el
                  análisis físico-químicos y microbiológico de aguas.
                </p>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </section>

  <!-- tanques5 -->
  <section id="tanques5">
    <div class="container py-6">
      {% load static %}
      <div class="position-relative">
        <img src="{% static "proamb/images/icono-estrella-proamb.png" %}" alt=""
        class="icono-estrella img-fluid position-absolute" />
        <div class="ms-5">
          <div class="row">
            <div class="col-12 col-lg-10">
              <h3>
                Un mayor asesoramiento y la mejor opción de éxito en el
                tratamiento que requiera, PROAMB S.R.L. se lo garantiza.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
